<ul class="nav nav-tabs" style="margin-top:20px;">
  <li role="presentation" ui-sref-active="active">
  	<a ui-sref="aso.main">Home</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="aso.reports">Activity Report</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="aso.checkstatus">Check File Status</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="aso.file">File Report</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="aso.password">Change Password</a>
  </li>
  <li role="presentation" ui-sref-active="active"><a class="logout" ng-click="logout()">Logout</a></li>
</ul>
<div class="alert alert-danger othrtppl_cls" role="alert">Welcome: {{mainuser.user_desc}}</div>
<div ui-view="content"></div>