<h4 class="heading">
	Change Password
</h4>
<div class="frm_usr_crt">
	<form ng-submit="change_pass()">
		<div class="form-group">
		    <label for="exampleInputEmail1">Old Password</label>
		    <input type="password" class="form-control"  placeholder="Old Password" ng-model="pass.old" required>
		</div>
		<div class="form-group">
		    <label for="exampleInputEmail1">New Password</label>
		    <input type="password" class="form-control"  placeholder="New Password" ng-model="pass.new" required>
		</div>
		<div class="form-group">
		    <label for="exampleInputEmail1">Confirm Password</label>
		    <input type="password" class="form-control"  placeholder="Confirm Password" ng-model="pass.confirm" required>
		</div>
		<button type="submit" class="btn btn-default">Change</button>
	</form>
</div>